body {
	background-color: darkslategray;
	color: lightgoldenrodyellow;
	line-height: 1.4;
	font-family: serif;
	position: relative;
}

a {
	color: cyan;
}

a:hover {
	text-decoration: underline line-through;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-style: italic;
	margin: 0;
}main {
	width: 420pt;
	margin: 30pt auto;
	padding: 30pt;
	text-align: center;
	border: 2pt solid lightgoldenrodyellow;
}

main hr {
	border: none;
    border-top: 1pt dashed rosybrown;
	margin: 50pt auto;
}

main img {
	max-width: 200pt;
}

main .caption {
	display: none;
}

main blockquote {
	color: darkseagreen;
	font-style: italic;
	margin-block: 0;
	margin-inline: 0;
}

main blockquote p:first-child:before, main blockquote p:last-child:after {
	content: '"';
}nav {
	position: fixed;
	right: 20pt;
	text-align: right;
}

nav a {
	font-family: monospace;
	font-size: 1.2em;
}

nav ul {
	margin-block: 0;
	padding: 0;
	margin: 20pt 0;
}

nav ul li {
	display: inline-block;
	white-space: nowrap;
	margin-left: 10pt;
}

nav img {
	margin: 20pt 0;
}