<header>
	<h1>A Few Good... Links</h1>
	<nav>
		<h4>My Links</h4>
		<ul>
			<li><a href="https://github.com/micahco">Github</a></li>
			<li><a href="https://rateyourmusic.com/~heavyorgan">RYM</a></li>
		</ul>
		<h4>Literature</h4>
		<ul>
			<li><a href="https://mwi.usma.edu/war-books-building-counterinsurgency-library/">War books</a></li>
			<li><a href="http://digital.library.upenn.edu/women/bronte/poems/pba-vanitas.html">Vanitas Vanitatum</a></li>
		</ul>
		<h4>A Few More...</h4>
		<ul>
			<li><a href="https://www.youtube.com/watch?v=qdBJ1X33rXM">The Best of Times, The Worst of Times</a></li>
			<li><a href="https://www.ecoliteracy.org/article/designers-challenge-four-problems-you-must-solve">The Designers's Challenge</a></li>
			<li><a href="https://www.wikiart.org/en/fra-angelico">Fra Angelico</a></li>
			<li><a href="https://www.jesus-story.net/pilates-trial/">Behold the Man</a></li>
		</ul>
	</nav>
</header>
<hr>