body {
	padding: 10pt;
	line-height: 1.5em;
	font-family: system-ui;
	background-color: seashell;
	color: darkslategray;
}
a, .external-link {
	position: relative;
	color: skyblue;
}
a:hover {
	background-color: lavender;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: serif;
}
nav h2 {
	margin: 0;
}
main {
	max-width: 400pt;
	margin-top: 40pt;
}
main > * {
	word-wrap: break-word;
}
main h1:first-child {
	font-weight: bold;
	font-size: 2.2em;
}
main hr {
	margin: 40pt 0;
}
main .caption {
	display: none;
}
main blockquote  {
	margin: 10pt 0;
	padding: 10pt;
	border-left: 2pt solid grey;
	color: grey;
}