body {
	line-height: 1.5em;
	font-family: system-ui;
	background-color: seashell;
	color: darkslategray;
}
a {
	color: skyblue;
}
a:hover {
	background-color: lavender;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: serif;
}
nav h2 {
	margin: 0;
}
nav a {
	margin: 0 5pt;
}
main {
	max-width: 400pt;
	padding: 40pt;
}
main h1:first-child {
	font-weight: bold;
	font-size: 2.2em;
}
main hr {
	margin: 40pt -20pt;
}
main .caption {
	display: none;
}
main blockquote  {
	margin: 10pt 0;
	padding: 10pt;
	border-left: 2pt solid grey;
	color: grey;
}