body {
	position: relative;
	line-height: 1.4;
	font-family: serif;
	background-color: darkslategray;
	color: lightgoldenrodyellow;
}

a {
	color: cyan;
}

a:hover {
	text-decoration: underline line-through;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
	font-style: italic;
}main {
	width: 400pt;
	margin: 60pt auto;
	text-align: center;
}

main hr {
	margin: 60pt auto;
	border: none;
    border-top: 2pt dotted;
}

main img {
	max-width: 200pt;
}

main .caption {
	display: none;
}

main blockquote {
	margin-block: 0;
	margin-inline: 0;
	font-style: italic;
}

main blockquote p:first-child:before, main blockquote p:last-child:after {
	content: '"';
}nav {
	position: fixed;
	right: 20pt;
	text-align: right;
}

nav ul {
	margin-block: 0;
	margin: 20pt 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	white-space: nowrap;
	margin-left: 10pt;
}

nav img {
	margin: 20pt 0;
}