body {
	max-width: 40em;
	margin: 0 auto;
	padding: 1em;
	line-height: 1.5em;
	font-family: system-ui;
}
@media (prefers-color-scheme: dark) {
	body{
		background: black;
		color: beige;
	}
}
a {
	color: teal;
	text-decoration: none;
}
a:hover {
	background-color: aqua;
}
nav h2 {
	margin-bottom: 5pt;
}
nav a {
	margin-right: 5pt;
}
main {
	margin: 2em 0;
	overflow-wrap: break-word;
}
main hr {
	margin: 4em 0;
}
main dt {
	font-style: italic;
	margin-top: 2em;
}
main dd {
	margin-top: 5pt;
}
main blockquote  {
	padding: 0 10pt;
	border-left: 2pt solid grey;
	color: grey;
}
main pre {
	background: darkslategray;
	color: lightcyan;
	padding: 1em;
}