html, body { margin: 0; }
body {
	line-height: 1.5em;
	font-family: serif;
	background-color: seashell;
	color: darkslategray;
}
a {
	color: skyblue;
}
a:hover {
	background-color: lavender;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
	font-style: italic;
}
p {
	margin: 0;
}