body {
	position: relative;
	line-height: 1.4;
	font-family: serif;
	background-color: darkslategray;
	color: lightgoldenrodyellow;
}

a {
	color: cyan;
}

a:hover {
	text-decoration: underline line-through;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
	font-style: italic;
}